<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Vue 3 Boolzapp
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <main class="flex">
            <section class="userbar flex  flex-column">
                <div class="user-profile"></div>
                <div class="notifications"></div>
                <div class="searchbar">
                    <label for="contacts-search-input"><i class="fa-solid fa-search"></i></label>
                    <input type="text" v-model="contactsSearchInput" id="contacts-search-input" name="contacts-search-input" @keyup="filterContacts(contactsSearchInput)">
                </div>
                <div class="contacts">
                    <!-- TODO: contacts list will show up here -->
                    <article v-for="(contact, contactIndex) in contacts" @click="selectContact(contactIndex)" v-show="contact.visible">
                        <p>
                            {{ contact.name }}
                        </p>
                    </article>
                </div>
            </section>
            <section class="conversation-container flex flex-column">
                <div class="user-profile">
                    <article>
                        <p>
                            {{ contacts[activeContact].name}}
                        </p>
                    </article>
                </div>
                <div class="messages clearfix">
                    <article v-for="message in contacts[activeContact].messages" class="message"
                        :class="message.status === 'sent' ? 'sent' : 'received'">
                        {{ message.message }}
                        <!-- <span>{{ message.date }}</span> -->
                    </article>
                </div>
                <div class="message-input">
                    <input type="text" v-model="newMessageInput" id="new-message-input" name="new-message-input" @keyup.enter="newUserMessage(newMessageInput)">
                    <label for="new-message-input"><i class="fa-solid fa-paper-plane" @click="newUserMessage(newMessageInput)"></i></label>
                </div>
            </section>
        </main>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>